In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
import pandas as pd

In [6]:
dataset = pd.read_csv('datafile (1).csv')

FileNotFoundError: File b'datafile (1).csv' does not exist

In [7]:
dataset.shape

NameError: name 'dataset' is not defined

In [8]:
dataset.head()

NameError: name 'dataset' is not defined

In [9]:
pd.value_counts(dataset['State'])

NameError: name 'dataset' is not defined

In [10]:
sns.countplot(x=dataset['State'], data=dataset)
plt.xticks(rotation='vertical')
plt.show()

NameError: name 'dataset' is not defined

In [11]:
pd.value_counts(dataset['Crop'])

NameError: name 'dataset' is not defined

In [12]:
cost = dataset['Cost of Production (`/Quintal) C2']
crop = dataset['Crop']

NameError: name 'dataset' is not defined

In [13]:
costsorted = cost.sort_values(ascending=False)

NameError: name 'cost' is not defined

In [14]:
top10 = costsorted[:10]

NameError: name 'costsorted' is not defined

In [15]:
dataset = dataset.sort_values('Cost of Production (`/Quintal) C2', ascending=False)

NameError: name 'dataset' is not defined

In [16]:
dataset.columns

NameError: name 'dataset' is not defined

In [3]:
import pandas as pd
crops = pd.read_csv('crop_production.csv')

In [4]:
crops.shape

(246091, 7)

In [5]:
crops.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [6]:
pd.value_counts(crops['Season'])

Kharif         95951
Rabi           66987
Whole Year     57305
Summer         14841
Winter          6058
Autumn          4949
Name: Season, dtype: int64

In [7]:
# pd.value_counts(crops['Crop'])
pd.unique(crops['Crop']).shape

(124,)

In [8]:
crops.dropna(inplace=True)

In [9]:
crops.shape

(242361, 7)

In [10]:
X = crops.iloc[:,5:].values
y = crops['Season']

In [11]:
X[:2]

array([[1.254e+03, 2.000e+03],
       [2.000e+00, 1.000e+00]])

In [13]:
X.shape

(242361, 2)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [27]:
clf = KNeighborsClassifier()

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test =  train_test_split(X,y,test_size=0.25)

In [30]:
clf.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [31]:
y_pred = clf.predict(x_test)

In [32]:
from sklearn.metrics import accuracy_score

In [33]:
accuracy_score(y_test, y_pred)

0.4461223614068096

In [34]:
# from sklearn import svm
# clf = svm.SVC(gamma='scale')
# # clf.fit(x_train, y_train)
# X = [[0, 0], [1, 1]]
# y = [0, 1]
# clf = svm.SVC(gamma='scale')
# clf.fit(X, y)

In [40]:
crops

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.00
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.00
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.00
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.00
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.00
5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Coconut,18168.0,65100000.00
6,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.00
7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sugarcane,1.0,2.00
8,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Sweet potato,5.0,15.00
9,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Tapioca,40.0,169.00
10,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,2061.00
11,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.0,1.00
12,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.0,300.00
13,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Cashewnut,719.0,192.00
14,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Coconut,18190.0,64430000.00
15,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Dry ginger,46.0,100.00
16,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sugarcane,1.0,1.00
17,Andaman and Nicobar Islands,NICOBARS,2001,Whole Year,Sweet potato,11.0,33.00
18,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.2,510.84
19,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Arecanut,1258.0,2083.00
20,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Banana,213.0,1278.00
21,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Black pepper,63.0,13.50
22,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Cashewnut,719.0,208.00
23,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Coconut,18240.0,67490000.00
24,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Dry chillies,413.0,28.80
25,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Dry ginger,47.3,133.00
26,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Sugarcane,5.0,40.00
27,Andaman and Nicobar Islands,NICOBARS,2003,Kharif,Rice,52.0,90.17
28,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Arecanut,1261.0,1525.00
29,Andaman and Nicobar Islands,NICOBARS,2003,Whole Year,Banana,266.0,1763.00
...,...,...,...,...,...,...,...
246061,West Bengal,PURULIA,2014,Kharif,Bajra,49.0,19.00
246062,West Bengal,PURULIA,2014,Kharif,Mesta,159.0,2065.00
246063,West Bengal,PURULIA,2014,Kharif,Moong(Green Gram),181.0,100.00
246064,West Bengal,PURULIA,2014,Kharif,Moth,16.0,14.00
246065,West Bengal,PURULIA,2014,Kharif,Niger seed,204.0,74.00
246066,West Bengal,PURULIA,2014,Kharif,Other Kharif pulses,79.0,39.00
246067,West Bengal,PURULIA,2014,Kharif,Sannhamp,171.0,727.00
246068,West Bengal,PURULIA,2014,Kharif,Soyabean,18.0,7.00
246069,West Bengal,PURULIA,2014,Kharif,Sunflower,46.0,42.00
246070,West Bengal,PURULIA,2014,Kharif,Urad,11493.0,3287.00
246071,West Bengal,PURULIA,2014,Rabi,Arhar/Tur,671.0,723.00
246072,West Bengal,PURULIA,2014,Rabi,Gram,198.0,203.00
246073,West Bengal,PURULIA,2014,Rabi,Groundnut,30.0,25.00
246074,West Bengal,PURULIA,2014,Rabi,Horse-gram,660.0,332.00
246075,West Bengal,PURULIA,2014,Rabi,Khesari,146.0,126.00
246076,West Bengal,PURULIA,2014,Rabi,Linseed,160.0,51.00
246077,West Bengal,PURULIA,2014,Rabi,Masoor,31.0,19.00
246078,West Bengal,PURULIA,2014,Rabi,Moong(Green Gram),64.0,40.00
246079,West Bengal,PURULIA,2014,Rabi,Peas & beans (Pulses),12.0,12.00
246080,West Bengal,PURULIA,2014,Rabi,Potato,477.0,9995.00
246081,West Bengal,PURULIA,2014,Rabi,Rapeseed &Mustard,1885.0,1508.00
246082,West Bengal,PURULIA,2014,Rabi,Safflower,54.0,37.00
246083,West Bengal,PURULIA,2014,Rabi,Urad,220.0,113.00
246084,West Bengal,PURULIA,2014,Rabi,Wheat,1622.0,3663.00
246085,West Bengal,PURULIA,2014,Summer,Maize,325.0,2039.00
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.00
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.00
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.00
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.00
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.00

TypeError: must be real number, not str